<div class="col-md-6 kontenerStrony">
    Funkcja dostępna jedynie dla dyrekcji i deweloperów
    <div class="bg-danger mb-1 p-2 text-white"><h4>Brak dostępu</h4></div>
    <a asp-action="Index" asp-controller="Aktualnosci" class="btn btn-primary">OK</a>
</div>