@model ApplicationDisplay
@if (Model.DisplayDark == true)
{
    <a style="line-height:60px;" asp-action="Index" asp-controller="Aktualnosci" class="actionLink"><img class="obrazNaglowka" src="~/img/layout/godloilogoDark.png" /></a>

}
@if (Model.DisplayDark == false)
{
    <a style="line-height:60px;" asp-action="Index" asp-controller="Aktualnosci" class="actionLink"><img class="obrazNaglowka" src="~/img/layout/godloilogo.png" /></a>
}


