@model ZmianaPlanu

@if (Model.DzienZakonczenia > DateTime.Now)
{
<div class="dodatekKontener">
    <div class="archiwumHeader" customtextcolor="tekstnaglowkow">
        Komunikat
    </div>
    <div style="text-align: center;">
        <br />
        <div style="color: red; font-size: 20px;">UWAGA!</div>
        <br />
        <div>@Model.Info</div>
        <br />
    </div>
    <!--FILE DOWNLOAD-->
    <div class="paddingDownload">
        @if (Enumerable.Count(ViewBag.fileList) != 0)
        {
            <dir>Pliki do pobrania:</dir>
            {
                foreach (var file in ViewBag.fileList)
                {
                    <a class="down" href="Biblioteka/Download?file=@(ViewBag.fileDirectory + file)" target="_blank" customtextcolor="tresckolor"><dir>@file<span>;</span></dir></a>
                }
            }
        }
    </div>
    </div>
    <div style="margin-bottom: 20px;"></div>
    }
