@model Sukcesy

@{
    ViewBag.Title = Model.Tytul;
}

<div class="kontenerStrony col-xs-12 col-md-9">

    <div class="kontenerDetails" style="box-shadow: 0 5px 20px #000000!important;">

        <div class="tytulDetails col-xs-12" customtextcolor="tekstnaglowkow"><div>@Model.Tytul</div></div>

        <div class="trescDetails"><div class="shift"> @Html.Raw(Model.Tresc)</div></div>

        <div class="dataDetails col-xs-9 col-sm-10"> </div>

        <a asp-action="Index" class="dalejButton dalejWpisu col-xs-3 col-sm-2" custombordercolor="tresctlo" custombackground="przyciskikolor" customtextcolor="tekstnaglowkow">Powrót ></a>

    </div>
    <div class="space"></div>
</div>




