@model IEnumerable<Sukcesy>
@{
    ViewBag.Title = "Nasze Sukcesy";
}
<div class="kontenerStrony col-xs-12 col-md-9">
    <div class="tytulStrony col-md-12">O szkole</div>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-action="Create" class="btn btn-primary adminBtn">Nowy wpis</a>
    }
    <div class="spaceSide"></div>
    <div class="tytulGrono col-xs-12" style="box-shadow: 0 5px 20px #000000;">
        <div class="tytulDetails" customtextcolor="tekstnaglowkow">
            <div>Nasze Sukcesy</div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <br />
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
        <form asp-action="Delete" method="post" class="adminBtn" asp-antiforgery="true">
            <a asp-action="Edit" class="btn btn-primary"
               asp-route-ID="@item.ID">
                Edycja wpisu
            </a>
            <input type="hidden" name="ID" value="@item.ID" />
            <button type="submit" class="btn btn-primary">
                Usuń wpis
            </button>
        </form>
        }
        <div class="kontenerOsoby col-xs-12">
            <div class="row">

                <div class="nazwiskoOsoby col-xs-9" customtextcolor="tekstnaglowkow"><div class="shift">@item.Tytul</div></div>
                <div class="dalejSukcesy"><a asp-action="Details" asp-route-ID="@item.ID" class="dalejButton" custombackground="przyciskikolor" customtextcolor="tekstnaglowkow">Zobacz ></a></div>
            </div>
        </div>
    }
    <div style="visibility: hidden">test</div>
    <div class="space"></div>
</div>




