@model Kontakt

<div class="center"><span class="glyphicon glyphicon-copyright-mark"></span> @DateTime.Now.Year Szkoła Podstawowa w Dłużynie, <span class="glyphicon glyphicon-envelope"></span> @Model.Email, <span class="glyphicon glyphicon-phone-alt"></span> @Model.Phone</div>
