
body {
    overflow-x: hidden;
    width: 100%;
    background-color: #E0DCDC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.caloscWidoku {
    margin-left: 5px;
}
/* NAGLOWEK*/
.header {
    float: left;
    position: relative;
    height: 170px;
    background-color: black;
    -webkit-filter: grayscale(80%);
    filter: grayscale(95%);
}
.obrazNaglowka {
    position: absolute;
    height: 140px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.trescNaglowka {
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    left: 190px;
    margin-top: 25px;
}
.paddingDownload {
    padding-bottom: 10px;
}
.down:link, .down:active, .down:visited {
    font-weight: bold;
    color: black;
    text-decoration: none !important;
}
.down:hover {
    font-weight: bold;
    color: black;
    text-decoration: underline !important;
}

										/*PASEK CIENIA*/
.pasekCieniaHeader {
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #E0DCDC;
    box-shadow: 0 15px 30px #000000;
    top: 79px;
}

										/* PRZYCISKI*/


.przycisk {
    position: relative;
    overflow: hidden;
    font-size: 24px;
    text-align: center;
    float: left;
    color: #FFFFFF;
}

/*hover height in JS*/
.p1 {
    background-color: #333332;
    height: 68px;
    z-index: 2;
}
/*hover height in JS*/
.p2 {
    background-color: #60605F;
    height: 68px;
    z-index: 2;
}
/*hover height in JS*/
.p3 {
    background-color: #959595;
    height: 68px;
    z-index: 2;
}
/*hover height in JS*/
.p4 {
    background-color: #C7C7C7;
    height: 68px;
    z-index: 2;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.directionsContainer {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    display: inline-block;
    width: 70%;
    height: 70vh;
    background: url(/img/layout/mapka.png) no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: box-shadow 1s ease-out;
    -moz-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
    transition: box-shadow 1s ease-out;
}

    .directionsContainer:hover {
        box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
    }
.p5edziennik { /*p5edziennik ZAGNIEŻDŻONE W HEADING*/
    margin-top: 170px;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    text-align: center;
    background-color: #60605F;
    float: left;
    height: 70px;
    color: #FFFFFF;
    line-height: 70px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border: 1px solid #FFFFFF;
}
.adminBtn {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
}
.hyperPaging {
    text-align: left;
    height: 20px;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
    padding: 30px;
}
.tagStyle {
    background-color: #60605F;
    margin-right: 5px;
    color: white !important;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #FFFFFF;
}
    .tagStyle:hover {
        box-shadow: 0 5px 20px #000000;
    }
.tagThisStyle {
    background-color: black;
    margin-right: 5px;
    color: white !important;
    padding-left: 5px;
    padding-right: 5px;
}
.weatherColor {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
/*SLIDE*/
[data-slides] {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.slideshow {
    height: 172px;
    position: relative;
    top: 68px;
    left: 50%;
    width: 50%;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

a {                                     /* WŁAŚCIWOŚCI "a"*/
	text-decoration: none!important;
}
    a span {
        color: #FFFFFF;
    }
										/*ANIMACJE MENU*/
.najazd{
	z-index:1;
	box-shadow: 0 15px 30px #000000;
}

.najazdMenu {
    z-index: 1;
    background-color: #60605F;
}

.dropdown div {
    z-index: 1;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    height: 60px;
    color: #FFFFFF !important;
    border-top-style: solid;
    border-top-color: black;
    border-width: thin;
    line-height: 30px;
}


.kontenerDodatkiLayout{
	position:absolute;
	top: 350px;
	left: 78%;
	width: 24%;
}



.kontenerDodatkiStrona{
	position:absolute;
	top: 350px;
	left: 78%;
	width: 24%;
}


.archiwum {
    font-size: 24px;
    color: black;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    background-color: #FFFFFF;
    height: 30px;
    box-shadow: 0 5px 20px #000000;
}
										/*PODSTRONY*/
.kontenerStrony {
	position:absolute;
	top: 350px;
	float: left;
}

.tytulStrony {
    font-size: 24px;
    color: black;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    background-color: #FFFFFF;
    height: 30px;
    box-shadow: 0 5px 20px #000000;
}

.kontenerWpisow{
	margin-top:30px;
}

.kontenerWpisu {
    margin-top: 10px;
    height: 242px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px #000000;
}

.tytulWpisu {
    height: 70px;
    background-color: #333332;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 70px;
    text-align: left;
    overflow: hidden;
}

.tytulAdmin {
    height: 40px;
    background-color: #333332;
    font-size: 24px;
    color: #FFFFFF;
    text-align: left;
    overflow: hidden;
}

.trescWpisu{
	color: black;
	height: 142px;
	overflow: hidden;
	font-size: 16px;

}

.zdjecieWpisu {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 242px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.dataWpisu{
	height: 30px;
	color: black;
	line-height: 30px;
	font-weight: bold;
}

.dalejWpisu {
    z-index: 1;
    background-color: #60605F;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    padding-left: 1px;
    border: 1px solid #FFFFFF;
}
.dalejButton:link, dalejButton:visited, dalejButton:active {
    color: #FFFFFF;
}
.dalejButton:hover {
    z-index: 2;
}

.shift {
    margin-left: 10px !important;
}

.center{
	text-align: center;
    margin: 5px;
}

.stronaPaging {
    height: 30px;
    line-height: 30px;
    width: 90px;
    background-color: #333332;
    color: #FFFFFF;
    text-align: center;
}
.editAktualnosciImage {
    width: 30vw;
}
/*CZYTAJ DALEJ...*/
.kontenerDetails {
    background-color: #FFFFFF;
    min-height: 370px;
    box-shadow: 0 35px 20px #000000;
}

.tytulDetails {
    height: 70px;
    background-color: #333332;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 70px;
    text-align: center;
    overflow: hidden;
}

.trescDetails {
    color: black;
    background-color: #FFFFFF;
    font-size: 16px;
    margin-right: 10px;
    min-height: 340px;
}

.zdjecieDetails {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    padding-bottom: 10px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.dataDetails {
    height: 30px;
    color: black;
    line-height: 30px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.dalejDetails {
    z-index: 1;
    background-color: #60605F;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}

.pasekLogowania {
    position: center;
    background-color: #E0DCDC;
    width: 100%;
    height: 20px;
    color: black;
    text-align: right;
    padding-right: 20px;
}

.wpisDodatki {
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px #000000;
}
.wpisDodatki:link{
    text-decoration: none;
    color: pink;
}

.stopa {
    position: fixed;
    bottom: 0;
    color: #FFFFFF;
    background-color: #959595;
    height: 40px;
    width: 100%;
    line-height: 20px;
    z-index: 3;
    box-shadow: 0 5px 20px #000000;
    padding: 5px;
    overflow: hidden;
}
.myLink a:link, .myLink a:active, .myLink a:visited {
    color: black;
    text-decoration: none;
}

.myLink a:hover {
    text-decoration: underline !important;
}
.myLink {
    font-size: 12px;
}

.space {
    padding-bottom: 90px;
}
.spaceSide {
    padding-bottom: 30px;
}
.przyciskiAdmina {
    position: absolute;
    top: 270px;
}
.tabela {
    background-color: white;
}

.makeTresc {
    background-color: #FFFFFF;
}

                                /*SIDEBAR FOR LAYOUT*/

.dodatekKontener {
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px #000000;
    width: 92%;
    height: 100%;
}
.archiwumHeader {
    line-height: 35px;
    background-color: #333332;
    color: #FFFFFF;
    text-align: center;
    height: 35px;
}
.archiwumLink:link, .archiwumLink:active, .archiwumLink:visited {
    color: black;
    overflow: hidden;
    padding: 10px;
}
.archiwumLink:hover {
    font-weight: bold;
    color: #60605F;
    overflow: hidden;
}

/*BUTTONS*/

actionLink:link, actionLink:visited, actionLink:active {
    color: #FFFFFF;
    text-decoration: none;
}
.navBtn {
    height: 60px;
    width: 100%;
    padding: 0 !important;
    position: relative;
    left: -10px;
}
.gmina {
    background: url(../img/buttons/gmina.png) no-repeat 6px center;
    background-size: cover;
}
.men {
    background: url(../img/buttons/men.png) no-repeat 6px center;
    background-size: cover;
}
.oke {
    background: url(../img/buttons/oke.png) no-repeat 6px center;
    background-size: cover;
}
.kuratorium {
    background: url(../img/buttons/kuratorium.png) no-repeat 6px center;
    background-size: cover;
}
.poradnia {
    background: url(../img/buttons/gora_01.png) no-repeat 6px center;
    background-size: cover;
}
.zawody {
    background: url(../img/buttons/logo_top_1.jpg) no-repeat 6px center;
    background-size: cover;
}
.reforma {
    background: url(../img/buttons/reforma.png) no-repeat 6px center;
    background-size: cover;
}
.ore {
    background: url(../img/buttons/ore.png) no-repeat 6px center;
    background-size: cover;
}

/*DUZE WPISY*/

.kontenerDuzyWpis {
    margin-top: 30px;
    background-color: #FFFFFF;
    min-height: 370px;
    box-shadow: 0 5px 20px #000000;
}

/*GRONO PEDAGOGICZNE*/

.tytulGrono {
    margin-top: 30px;
    margin-bottom: 20px;
}
.kontenerOsoby {
    margin-top: 30px;
    box-shadow: 0 5px 20px #000000;
    background-color: #FFFFFF;
}
.nazwiskoOsoby {
    height: 70px;
    background-color: #4c4034;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 70px;
    text-align: left;
    overflow: hidden;
    padding-left: 10px;
}
.funkcjeOsoby {
    font-size: 20px;
    color: black;
    height: 70px;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 20px;
}

/*SUKCESY*/
.dalejSukcesy {
    z-index: 1;
    background-color: #60605F;
    height: 70px;
    line-height: 70px;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
    width: auto;
}

    .dalejSukcesy:hover {
        z-index: 1;
        background-color: #60605F;
        height: 70px;
        line-height: 70px;
        text-align: center;
        overflow: hidden;
        font-size: 24px;
        width: auto;
        box-shadow: 0 5px 20px #000000;
    }
.calendar {
    margin-bottom: 50px;
}

#calendar {
    box-shadow: 0 5px 20px #000000;
    width: 95%;
}

#calendarr {
    box-shadow: 0 5px 20px #000000;
    width: 95%;
    height: 100%;
    margin-bottom: -10px;
}

                                            /*DODATKI*/
.dodatkiButton {
    background-color: #60605F;
    color: #FFFFFF;
}
                                            /* @MEDIA*/
@media screen and (min-width:992px) {
    .tytulGrono {
        margin-top: 30px;
    }
}

@media screen and (max-width:992px) {
    .p5edziennik {
        margin-top: 234px;
    }

    .trescNaglowka {
        text-align: center;
        left: auto;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }

    .pasekCieniaHeader {
        top: 142px;
    }

    .slideshow {
        display: none !important;
    }

    .tytulStrony {
        margin-right: 0 !important;
    }

    .kontenerWpisow {
        margin-top: 30px !important;
    }
    .msgKomputer {
        visibility: hidden;
        margin-bottom: -60px;
    }
    .caloscWidoku {
        margin-left: 0;
    }
    .obrazNaglowka {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
@media screen and (max-width:770px) {
    .tytulWpisu {
        text-align: center !important;
    }
}
@media screen and (max-width:576px) {
    .obrazNaglowka {
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 45%;
    }
    .tytulWpisu {
        text-align: center !important;
    }

    .menuFont {
        font-size: 14px;
    }

    .nazwiskoOsoby {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .dalejButton {
        font-size: 14px;
    }
    .funkcjeOsoby {
        font-size: 14px;
    }
    .stopa {
        height: 68px;
    }
}





@media all and (min-width: 48em) {
    .slideshow {
        height: 171px;
    }
}
