@model Sport
@{
    ViewBag.Title = "Edycja sport";
}
@Html.AntiForgeryToken()
<br />
<div class="col-md-6 kontenerStrony">
    <div class="tytulStrony col-md-12">Edycja</div>
    <div class="space"></div>
    @if (Enumerable.Count(ViewBag.fileList) > 0)
    {
        <dir>Wgrane już pliki:</dir>
        {
            foreach (var someFile in ViewBag.fileList)
            {
                <form asp-action="DeleteFile" method="post" class="adminBtn" asp-antiforgery="true">
                    <input type="hidden" name="file" value="@someFile" asp-action="@(ViewBag.fileDirectory + someFile)" />
                    <button class="btn btn-danger" type="submit">Usuń</button>
                    @someFile
                </form>
                <br />
            }
        }
    }
    <br />
    <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-antiforgery="true">
        <input type="hidden" asp-for="ID" />
        <label>Dodaj pliki do pobrania</label>
        <input type="file" name="files" multiple />
        <br />
        <div class="form-group">
            <label asp-for="Tresc">Treść wpisu</label>
            <div><span asp-validation-for="Tresc" class="text-danger"></span></div>
            <textarea asp-for="Tresc" class="form-control wysiwyg"></textarea>
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Zapisz</button>
            <a asp-action="Index" class="btn btn-primary">Powrót</a>
        </div>

        <div class="space"></div>
    </form>
</div>
