@model ApplicationDisplay
<div class="col-md-6 kontenerStrony">
    <div class="bg-primary m-1 p-1"><h4>Wyświetlanie</h4></div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <form asp-action="Edit" asp-controller="ApplicationDisplay" method="post" asp-antiforgery="true">
        <input type="hidden" asp-for="ID" />
        <label asp-for="DisplayDark">Kolory żałoby</label>
        <input asp-for="DisplayDark" type="checkbox" />
        <div class="text-center">
            <button class="btn btn-success" type="submit">Zapisz i odśwież</button>
        </div>
    </form>
    <div class="space"></div>
</div>
